<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/normalize.min.css">
        <link rel="stylesheet" href="css/main.css">

        <!--[if lt IE 9]>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
            <script>window.html5 || document.write('<script src="js/vendor/html5shiv.js"><\/script>')</script>
        <![endif]-->
    </head>
    <body>

        <div class="main-container">
            <div class="main wrapper clearfix">

              <form class="interaction" method="post">
                <p> Exporteer foto's van evenementen met het label
                  <select name="tagfield">
                      <option label="Open Monumentendag 2018" value="Open_Monumentendag_2018">Open Monumentendag 2018</option>
                      <option label="owner-omd-2018" value="owner-omd-2018">owner-omd-2018</option>
                      <option label="omd-2018-official" value="omd-2018-official">omd-2018-official</option>
                  </select>
                  aangemaakt sinds <input type="date" name="createdfield">
                </p>
                  <input type="submit" value="Download">
              </form>

            </div> <!-- #main -->
        </div> <!-- #main-container -->



        <script src="js/main.js"></script>
    </body>
</html>
