<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Foto-export OMD 2020</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/normalize.min.css">
        <link rel="stylesheet" href="css/main.min.css">

        <!--[if lt IE 9]>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
            <script>window.html5 || document.write('<script src="js/vendor/html5shiv.js"><\/script>')</script>
        <![endif]-->
    </head>
    <body>

    <div class="header-container">
        <header class="wrapper clearfix">
            <h1 class="title">Foto-export OMD 2020</h1>
        </header>
    </div>

        <div class="main-container">
            <div class="main wrapper clearfix">

              <form class="interaction" method="post">
                <h3> Exporteer foto's van evenementen met het label
                  <select name="tagfield">
                      <option label="Open Monumentendag 2020" value="Open Monumentendag 2020">Open Monumentendag 2020</option>
                      <option label="owner-omd-2020" value="owner-omd-2020">owner-omd-2020</option>
                      <option label="omd-2020-official" value="omd-2020-official">omd-2020-official</option>
                  </select>
                    ingevoerd sinds <input type="date" name="createdfield">
                </h3>
                  <input type="submit" value="Download">
              </form>

            </div> <!-- #main -->
        </div> <!-- #main-container -->



        <script src="js/main.js"></script>
    </body>
</html>
