<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Foto-export OMD 2022</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/normalize.min.css">
    <link rel="stylesheet" href="css/main.min.css">

    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script>window.html5 || document.write('<script src="js/vendor/html5shiv.js"><\/script>')</script>
    <![endif]-->
</head>
<body>

<div class="header-container">
    <header class="wrapper clearfix">
        <h1 class="title">Foto-export OMD 2022</h1>
    </header>
</div>

<div class="main-container">
    <div class="main wrapper clearfix">

        <form class="interaction" method="post">
            <h3>
                {{ tag|default('owner-omd-2022')}} met als startdatum {{ created|default('2022-01-01')}} wordt ge&euml;xporteerd !
            </h3>
        </form>

    </div> <!-- #main -->
</div> <!-- #main-container -->



<script src="js/main.js"></script>
</body>
</html>
